In [1]:
import urllib.parse
from dotenv import load_dotenv
from data_loaders import sql_data, api_data
import pandas as pd
from pathlib import Path
import os


dotenv_path = Path('env_user.env')
load_dotenv(dotenv_path=dotenv_path)

username = os.getenv('DB_USERNAME')
password = os.getenv('DB_PASSWORD')
host_name = os.getenv('DB_HOST_NAME')
name = os.getenv('DB2_NAME')

conn_string = "postgresql://{}:{}@{}/{}".format(username, urllib.parse.quote(password), host_name, "casus_data_Jari")

db_connection = sql_data.connect_postgresql_DB()
conn, cur = db_connection.return_connection_and_cursor()

In [2]:
%reload_ext sql
%sql $conn_string

In [3]:
%%sql
SELECT country_code, country_name
FROM country
WHERE country_name = 'Vietnam';

 * postgresql://trainee:***@de-traineeship-assignment.csbkotxlmqjb.eu-west-1.rds.amazonaws.com:5432/casus_data_Jari
1 rows affected.

[('VN', 'Vietnam')]

# Welke employee heeft de duurste vlucht (cheapest)

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, c.city_name, co.country_name, j.price, j.direction
FROM employee e
JOIN journey j
ON e.employee_id = j.employee_id
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN country co
ON co.country_code = c.country_code
WHERE j.criteria = 'cheapest'
ORDER BY j.price DESC
LIMIT 5;

### Welke employee heeft de goedkoopste vlucht (cheapest)

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, c.city_name, co.country_name, j.price, j.direction
FROM employee e
JOIN journey j
ON e.employee_id = j.employee_id
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN country co
ON co.country_code = c.country_code
WHERE j.criteria = 'cheapest'
ORDER BY j.price ASC
LIMIT 5;

##### Welke employee heeft de langste vlucht (fastest)

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, c.city_name, co.country_name, j.direction, j.duration
FROM employee e
JOIN journey j
ON e.employee_id = j.employee_id
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN country co
ON co.country_code = c.country_code
WHERE j.criteria = 'fastest'
ORDER BY j.duration DESC
LIMIT 5;

### Welke employee heeft de kortste vlucht (fastest)

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, c.city_name, co.country_name, j.direction, j.duration
FROM employee e
JOIN journey j
ON e.employee_id = j.employee_id
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN country co
ON co.country_code = c.country_code
WHERE j.criteria = 'fastest'
ORDER BY j.duration ASC
LIMIT 5;

### Welke employee gaat naar het land met meeste vaccinatie

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, co.country_name, cov.fully_vaccinated
FROM employee e
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN country co
ON co.country_code = c.country_code
JOIN covid_info cov
ON cov.country_code = co.country_code
WHERE cov.fully_vaccinated != 'nan'
ORDER BY cov.fully_vaccinated DESC
LIMIT 5;

### Welke employee gaat naar het land met minste vaccinatie

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, co.country_name, cov.fully_vaccinated
FROM employee e
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN country co
ON co.country_code = c.country_code
JOIN covid_info cov
ON cov.country_code = co.country_code
WHERE cov.fully_vaccinated != 'nan'
ORDER BY cov.fully_vaccinated ASC
LIMIT 5;

### Wie gaan allemaal naar lang met vaccinatie verplicht

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, co.country_name, cov.vaccination_required
FROM employee e
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN country co
ON co.country_code = c.country_code
JOIN covid_info cov
ON cov.country_code = co.country_code
WHERE cov.vaccination_required = 'Yes';

### Welke employee en welke journey heeft de meeste overstappen

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, j.number_of_flights
FROM employee e
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN country co
ON co.country_code = c.country_code
JOIN journey j
ON j.employee_id = e.employee_id
ORDER BY j.number_of_flights DESC
LIMIT 10;

### Wie gaan er allemaal samen op reis?

In [ ]:
%%sql
WITH iata_count 
    AS (
        SELECT COUNT(iata_code), iata_code
        FROM employee
        GROUP BY iata_code
    )

SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, e.iata_code, c.city_name, co.country_name
FROM iata_count ic
JOIN employee e
ON ic.iata_code = e.iata_code
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON i.city_id = c.city_id
JOIN country co
ON co.country_code = c.country_code
WHERE ic.count > 1
ORDER BY country_name, city_name;

### Wie gaan er naar dezelfde stad, maar een ander vliegveld

In [ ]:
%%sql
WITH city_count 
    AS (
        SELECT COUNT(DISTINCT(i.iata_code)), city_name
        FROM employee e
        JOIN iata i
        ON i.iata_code = e.iata_code
        JOIN city c
        ON c.city_id = i.city_id
        GROUP BY c.city_name
        HAVING COUNT(DISTINCT(i.iata_code)) > 1
    )

SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, i.iata_code, c.city_name
FROM employee e
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN city_count cc
ON cc.city_name = c.city_name;

### Wie gaan naar een land met "Extreme" covid risk

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, co.country_name
FROM employee e
JOIN iata i
ON e.iata_code = i.iata_code
JOIN city c
ON c.city_id = i.city_id
JOIN country co
ON co.country_code = c.country_code
JOIN covid_info cov
ON cov.country_code = co.country_code
WHERE cov.risk_level = 'Extreme';

### Van welke landen is geen covid info beschikbaar?

In [14]:
%%sql
SELECT cov.country_code, cov.fully_vaccinated, cov.test_required, cov.vaccination_required, cov.risk_level, co.country_name
FROM covid_info cov
JOIN country co
ON cov.country_code = co.country_code
WHERE test_required is null;

 * postgresql://trainee:***@de-traineeship-assignment.csbkotxlmqjb.eu-west-1.rds.amazonaws.com:5432/casus_data_Jari
1 rows affected.

[('HK', nan, None, None, None, None)]

### Voor wie heb ik geen vluchten kunnen vinden?

In [ ]:
%%sql
SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, e.iata_code
FROM employee e
LEFT JOIN journey j
ON e.employee_id = j.employee_id

EXCEPT

SELECT CONCAT(e.first_name, ' ', e.last_name) AS name, e.iata_code
FROM employee e
INNER JOIN journey j
ON e.employee_id = j.employee_id;

In [14]:
%%sql
SELECT *
FROM agg_flight_data
ORDER BY employee_id
LIMIT 100;

 * postgresql://trainee:***@de-traineeship-assignment.csbkotxlmqjb.eu-west-1.rds.amazonaws.com:5432/casus_data_Jari
100 rows affected.

[(2, 'fastest', 121.755, 121.14, datetime.time(2, 20), datetime.time(2, 5), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (2, 'cheapest', 58.4, 43.66, datetime.time(7, 45), datetime.time(2, 15), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (2, 'fastest', 121.755, 121.14, datetime.time(2, 20), datetime.time(2, 5), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (2, 'cheapest', 66.4, 43.66, datetime.time(7, 12, 30), datetime.time(2, 15), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (2, 'fastest', 121.755, 121.14, datetime.time(2, 20), datetime.time(2, 5), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (2, 'cheapest', 66.4, 43.66, datetime.time(7, 12, 30), datetime.time(2, 15), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (3, 'cheapest', 118.255, 94.04, datetime.time(8, 36, 15), datetime.time(1, 15), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (3, 'fastest', 124.86000000000001, 121.14, datetime.time(1, 15), datetime.time(1, 15), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (3, 'fastest', 124.86000000000001, 121.14, datetime.time(1, 15), datetime.time(1, 15), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (3, 'cheapest', 111.47999999999999, 94.04, datetime.time(12, 55), datetime.time(11, 15), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (3, 'fastest', 124.86000000000001, 121.14, datetime.time(1, 15), datetime.time(1, 15), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (3, 'cheapest', 118.255, 94.04, datetime.time(8, 36, 15), datetime.time(1, 15), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (4, 'fastest', 171.745, 168.35, datetime.time(1, 55), datetime.time(1, 50), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (4, 'fastest', 171.745, 168.35, datetime.time(1, 55), datetime.time(1, 50), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (4, 'cheapest', 164.2325, 131.51, datetime.time(2, 21, 15), datetime.time(1, 50), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (4, 'fastest', 171.745, 168.35, datetime.time(1, 55), datetime.time(1, 50), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (4, 'cheapest', 153.78333333333333, 108.09, datetime.time(6, 15, 50), datetime.time(1, 50), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (4, 'cheapest', 164.2325, 131.51, datetime.time(2, 21, 15), datetime.time(1, 50), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (5, 'cheapest', 102.86000000000001, 88.1, datetime.time(6, 42, 30), datetime.time(4, 5), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (5, 'cheapest', 109.11, 104.1, datetime.time(6, 42, 30), datetime.time(4, 5), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (5, 'fastest', 205.11, 155.1, datetime.time(4, 7, 30), datetime.time(3, 50), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (5, 'fastest', 205.11, 155.1, datetime.time(4, 7, 30), datetime.time(3, 50), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (5, 'cheapest', 109.11, 104.1, datetime.time(6, 42, 30), datetime.time(4, 5), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (5, 'fastest', 205.11, 155.1, datetime.time(4, 7, 30), datetime.time(3, 50), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (6, 'cheapest', 131.975, 121.02, datetime.time(8, 35), datetime.time(6, 45), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (6, 'cheapest', 132.01, 121.02, datetime.time(10, 37, 30), datetime.time(6, 45), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (6, 'fastest', 208.62, 178.05, datetime.time(3, 25), datetime.time(3, 10), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (6, 'cheapest', 131.975, 121.02, datetime.time(8, 35), datetime.time(6, 45), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (6, 'fastest', 208.62, 178.05, datetime.time(3, 25), datetime.time(3, 10), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (6, 'fastest', 208.62, 178.05, datetime.time(3, 25), datetime.time(3, 10), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (8, 'fastest', 261.99, 161.52, datetime.time(4, 12, 30), datetime.time(4, 0), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (8, 'fastest', 261.99, 161.52, datetime.time(4, 12, 30), datetime.time(4, 0), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (8, 'cheapest', 150.61499999999998, 140.54, datetime.time(8, 41, 15), datetime.time(7, 50), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (8, 'fastest', 261.99, 161.52, datetime.time(4, 12, 30), datetime.time(4, 0), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (8, 'cheapest', 146.39999999999998, 140.54, datetime.time(8, 7, 30), datetime.time(7, 50), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (8, 'cheapest', 146.39999999999998, 140.54, datetime.time(8, 7, 30), datetime.time(7, 50), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (9, 'cheapest', 56.629999999999995, 37.68, datetime.time(7, 15), datetime.time(5, 15), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (9, 'fastest', 187.76999999999998, 132.09, datetime.time(4, 10), datetime.time(4, 5), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (9, 'fastest', 187.76999999999998, 132.09, datetime.time(4, 10), datetime.time(4, 5), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (9, 'cheapest', 78.705, 37.68, datetime.time(10, 16, 15), datetime.time(5, 15), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (9, 'cheapest', 56.629999999999995, 37.68, datetime.time(7, 15), datetime.time(5, 15), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (9, 'fastest', 187.76999999999998, 132.09, datetime.time(4, 10), datetime.time(4, 5), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (10, 'fastest', 166.64, 163.14, datetime.time(2, 2, 30), datetime.time(1, 55), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (10, 'fastest', 166.64, 163.14, datetime.time(2, 2, 30), datetime.time(1, 55), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (10, 'cheapest', 163.68, 157.68, datetime.time(4, 3, 20), datetime.time(4, 0), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (10, 'fastest', 166.64, 163.14, datetime.time(2, 2, 30), datetime.time(1, 55), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (10, 'cheapest', 162.834, 157.68, datetime.time(6, 16), datetime.time(4, 0), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (10, 'cheapest', 163.68, 157.68, datetime.time(4, 3, 20), datetime.time(4, 0), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (11, 'fastest', 130.684, 127.0, datetime.time(2, 2), datetime.time(2, 0), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (11, 'cheapest', 84.78, 68.38, datetime.time(12, 0), datetime.time(6, 5), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (11, 'fastest', 130.684, 127.0, datetime.time(2, 2), datetime.time(2, 0), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (11, 'cheapest', 84.64, 67.82, datetime.time(12, 0), datetime.time(6, 5), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (11, 'cheapest', 84.78, 68.38, datetime.time(12, 0), datetime.time(6, 5), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (11, 'fastest', 130.684, 127.0, datetime.time(2, 2), datetime.time(2, 0), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (12, 'fastest', 494.92, 418.36, datetime.time(13, 47, 30), datetime.time(13, 35), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (12, 'cheapest', 405.825, 379.14, datetime.time(16, 25), datetime.time(15, 20), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (12, 'fastest', 494.92, 418.36, datetime.time(13, 47, 30), datetime.time(13, 35), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (12, 'cheapest', 405.735, 379.14, datetime.time(18, 3, 45), datetime.time(15, 20), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (12, 'fastest', 494.92, 418.36, datetime.time(13, 47, 30), datetime.time(13, 35), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (12, 'cheapest', 405.825, 379.14, datetime.time(16, 25), datetime.time(15, 20), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (13, 'cheapest', 146.06666666666663, 144.03, datetime.time(2, 8, 20), datetime.time(1, 55), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (13, 'fastest', 146.06666666666663, 144.03, datetime.time(2, 8, 20), datetime.time(1, 55), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (13, 'cheapest', 143.914, 131.23, datetime.time(2, 38), datetime.time(1, 55), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (13, 'fastest', 146.06666666666663, 144.03, datetime.time(2, 8, 20), datetime.time(1, 55), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (13, 'cheapest', 146.06666666666663, 144.03, datetime.time(2, 8, 20), datetime.time(1, 55), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (13, 'fastest', 146.06666666666663, 144.03, datetime.time(2, 8, 20), datetime.time(1, 55), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (14, 'cheapest', 1712.965, 1319.31, datetime.time(0, 10, 30), datetime.time(16, 44), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (14, 'cheapest', 1709.6299999999999, 1319.31, datetime.time(0, 10, 30), datetime.time(16, 44), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (14, 'fastest', 2027.78, 1357.42, datetime.time(12, 0), datetime.time(11, 30), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (14, 'fastest', 2027.78, 1357.42, datetime.time(12, 0), datetime.time(11, 30), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (14, 'cheapest', 1709.6299999999999, 1319.31, datetime.time(0, 10, 30), datetime.time(16, 44), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (14, 'fastest', 2027.78, 1357.42, datetime.time(12, 0), datetime.time(11, 30), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (15, 'fastest', 126.22500000000001, 126.14, datetime.time(2, 0), datetime.time(1, 55), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (15, 'cheapest', 111.17, 110.18, datetime.time(17, 27, 30), datetime.time(10, 25), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (15, 'fastest', 126.22500000000001, 126.14, datetime.time(2, 0), datetime.time(1, 55), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (15, 'fastest', 126.22500000000001, 126.14, datetime.time(2, 0), datetime.time(1, 55), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (15, 'cheapest', 111.17, 110.18, datetime.time(17, 27, 30), datetime.time(10, 25), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (15, 'cheapest', 113.91999999999999, 110.18, datetime.time(17, 0), datetime.time(8, 35), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (16, 'fastest', 694.58, 656.09, datetime.time(16, 45), datetime.time(16, 10), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (16, 'cheapest', 466.26, 404.29, datetime.time(22, 45), datetime.time(20, 30), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (16, 'cheapest', 477.995, 404.29, datetime.time(22, 45), datetime.time(20, 30), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (16, 'cheapest', 466.26, 404.29, datetime.time(22, 45), datetime.time(20, 30), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (16, 'fastest', 694.58, 656.09, datetime.time(16, 45), datetime.time(16, 10), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (16, 'fastest', 694.58, 656.09, datetime.time(16, 45), datetime.time(16, 10), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (17, 'cheapest', 444.76, 435.99, datetime.time(10, 50), datetime.time(10, 35), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (17, 'fastest', 1963.1, 1407.95, datetime.time(6, 40), datetime.time(5, 5), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (17, 'fastest', 1963.1, 1407.95, datetime.time(6, 40), datetime.time(5, 5), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (17, 'cheapest', 459.6725, 435.99, datetime.time(12, 47, 30), datetime.time(10, 35), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (17, 'cheapest', 444.76, 435.99, datetime.time(10, 50), datetime.time(10, 35), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (17, 'fastest', 1963.1, 1407.95, datetime.time(6, 40), datetime.time(5, 5), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (18, 'fastest', 1963.1, 1407.95, datetime.time(6, 40), datetime.time(5, 5), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (18, 'fastest', 1963.1, 1407.95, datetime.time(6, 40), datetime.time(5, 5), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (18, 'cheapest', 444.76, 435.99, datetime.time(10, 50), datetime.time(10, 35), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (18, 'cheapest', 444.76, 435.99, datetime.time(10, 50), datetime.time(10, 35), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (18, 'fastest', 1963.1, 1407.95, datetime.time(6, 40), datetime.time(5, 5), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (18, 'cheapest', 459.6725, 435.99, datetime.time(12, 47, 30), datetime.time(10, 35), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896)),
 (19, 'fastest', 1963.1, 1407.95, datetime.time(6, 40), datetime.time(5, 5), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (19, 'cheapest', 444.76, 435.99, datetime.time(10, 50), datetime.time(10, 35), datetime.datetime(2022, 1, 26, 11, 0, 4, 626859)),
 (19, 'cheapest', 444.76, 435.99, datetime.time(10, 50), datetime.time(10, 35), datetime.datetime(2022, 1, 20, 13, 38, 50, 433078)),
 (19, 'fastest', 1963.1, 1407.95, datetime.time(6, 40), datetime.time(5, 5), datetime.datetime(2022, 1, 26, 11, 18, 25, 206896))]